protocols {
    ospf {
        area {{ ospf_area }} {
            interface lo0.0 passive;
            {% for interface in topology_interfaces%}

            interface {{ interface.name }}.0 {
            interface-type p2p;
            }

            {% endfor %}
        }
    }
}

{% if enable_load_balancing|bool %}
policy-options {

    policy-statement ECMP {
        then {
            load-balance per-packet;
        }
    }
}


routing-options {
    forwarding-table {
        export ECMP;
    }
}
{% endif %}